In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/election-fundamentals.csv')

In [3]:
df.head()

,year,incumbent_president,incumbent_party,term,highest_approval,lowest_approval,year_gdp_growth,winner
0,1960,Esienhower,R,2,79,47,2.6,D
1,1964,Johnson,D,1,79,34,5.8,D
2,1968,Johnson,D,2,79,34,4.8,R
3,1972,Nixon,R,1,66,24,5.3,R
4,1976,Nixon,R,2,66,24,5.4,D

In [4]:
df['incumbent_president']

0     Esienhower
1        Johnson
2        Johnson
3          Nixon
4          Nixon
5         Carter
6         Reagan
7         Reagan
8           Bush
9        Clinton
10       Clinton
11          Bush
12          Bush
13         Obama
14         Obama
Name: incumbent_president, dtype: object

In [5]:
df['incumbent_president'][5]

'Carter'

In [6]:
# .loc for slicing
df.loc[2:5,:]

,year,incumbent_president,incumbent_party,term,highest_approval,lowest_approval,year_gdp_growth,winner
2,1968,Johnson,D,2,79,34,4.8,R
3,1972,Nixon,R,1,66,24,5.3,R
4,1976,Nixon,R,2,66,24,5.4,D
5,1980,Carter,D,1,74,28,-0.2,R

In [7]:
df.loc[2:5, 'winner']

2    R
3    R
4    D
5    R
Name: winner, dtype: object

In [8]:
df.loc[2:5, ['incumbent_president', 'winner']]

  incumbent_president winner
2             Johnson      R
3               Nixon      R
4               Nixon      D
5              Carter      R

In [9]:
df = df.set_index(df.year)

In [10]:
df

,year,incumbent_president,incumbent_party,term,highest_approval,lowest_approval,year_gdp_growth,winner
year,,,,,,,,
1960,1960,Esienhower,R,2,79,47,2.60,D
1964,1964,Johnson,D,1,79,34,5.80,D
1968,1968,Johnson,D,2,79,34,4.80,R
1972,1972,Nixon,R,1,66,24,5.30,R
1976,1976,Nixon,R,2,66,24,5.40,D
1980,1980,Carter,D,1,74,28,-0.20,R
1984,1984,Reagan,R,1,71,35,7.26,R
1988,1988,Reagan,R,2,71,35,4.20,R
1992,1992,Bush,R,1,89,29,3.60,D
1996,1996,Clinton,D,1,73,37,3.80,D
2000,2000,Clinton,D,2,73,37,4.10,R
2004,2004,Bush,R,1,90,25,3.80,R
2008,2008,Bush,R,2,90,25,-0.30,D
2012,2012,Obama,D,1,69,38,2.20,D
2016,2016,Obama,D,2,69,38,1.50,R

In [11]:
df['incumbent_president'][1988]

'Reagan'

In [12]:
df.loc[1984:1992,['term', 'winner']]

      term winner
year
1984     1      R
1988     2      R
1992     1      D

In [13]:
# .iloc can help cleaning up first and last rows (or columns)
df.iloc[:,-1]

year
1960    D
1964    D
1968    R
1972    R
1976    D
1980    R
1984    R
1988    R
1992    D
1996    D
2000    R
2004    R
2008    D
2012    D
2016    R
Name: winner, dtype: object

In [14]:
df.index

Int64Index([1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000,
            2004, 2008, 2012, 2016],
           dtype='int64', name='year')